:root{
    --fundo:#f7aeaeea;
    --cartão-fundo:#b6d6f0;
    --cartãõ-verso:#62d3f5;
    --destaque:#6fd1ff;
    --preto:#000000;
    --branco:#F0F8FF;

}

body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100;
    text-align: center;
}