:root{
    --fundo:#3cbad3;
    --cartão-fundo:#b6d6f0;
    --cartãõ-verso:#62d3f5;
    --destaque:#6fd1ff;
    --preto:#000000;
    --branco:#F0F8FF;

}

body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
    color: var(--branco);
    width: 100%;
    text-align: center;
}
    #conteiner{
        padding:4rem;
        display: flex;
        gap: 3rem;
        aling-items: center;
        justify-content:space-between;
        flex-wrap: :wrap;
    }
    .cartao{
        flex: grow 1;
        flex-basis: calc(33%  -  6rem);
        
    }